body{
    background-color: black;
    transition: .5s;
}

.trilho {
    width: 350px;
    height: 150px;
    background-color: rgb(216, 210, 210);
    border-radius: 150px;
    position: relative;
    cursor: pointer;
}

.trilho .indicador{
    width: 150px;
    height: 150px;
    background-color: black;
    border-radius: 50%;
    transform: scale(.9);
    position: absolute;
    left: 0;
    transition: .5s;
}

.trilho.dark .indicador{
left: 200px;
background-color: white;
}

.trilho.dark{
    background-color: rgb(177, 180, 184)
}

body.dark {
    background-color: rgb(232, 232, 232);
}